[submodule "formulas/mynodeapp"]
	path = formulas/mynodeapp
	url = git@github.com:mmm/ensemble-mynodeapp.git
[submodule "formulas/mysql"]
	path = formulas/mysql
	url = git@github.com:mmm/ensemble-mysql
[submodule "formulas/postgresql"]
	path = formulas/postgresql
	url = git@github.com:mmm/ensemble-postgresql
[submodule "interfaces"]
	path = interfaces
	url = git@github.com:mmm/ensemble-interfaces.git
[submodule "formulas/hadoop-master"]
	path = formulas/hadoop-master
	url = git@github.com:mmm/ensemble-hadoop-master
[submodule "formulas/hadoop-slave"]
	path = formulas/hadoop-slave
	url = git@github.com:mmm/ensemble-hadoop-slave
[submodule "formulas/mongodb"]
	path = formulas/mongodb
	url = git@github.com:mmm/ensemble-mongodb.git
[submodule "formulas/drupal"]
	path = formulas/drupal
	url = git@github.com:mmm/ensemble-drupal.git
[submodule "formulas/rails"]
	path = formulas/rails
	url = git@github.com:mmm/ensemble-rails.git
[submodule "formulas/varnish"]
	path = formulas/varnish
	url = git@github.com:mmm/ensemble-varnish.git
[submodule "formulas/nfs"]
	path = formulas/nfs
	url = git@github.com:mmm/ensemble-nfs
